/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    #gallery-home{
        height: 300px;
    }

    header{
        width: 100%;
        height: 50px;
        background: #00bce8;
        color: #FFF;
        text-align:center
    }

    .right {
        float: right;
    }
    .left {
        float: left;
    }
    
    /* ne pas oublier de mettre l'élément parent en text-align: center; */
    .center{
        margin:0 auto !important; 
        display:inline-block;
    }

    .side-nav-header{
        width: 170px;
        text-align: left;
    }

    .side-nav-btn{
        float: left;
        padding: 17px 15px 17px 15px;
    }

    .librexpo-title{
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        font-size: 24px;
        height: 50px;
        line-height: 50px;
    }

    .search-field-wrapper{
        margin: 13px 13px 13px 13px;
        height: 24px;
        width: 216px;
        font-size: 12px;
        font-family: 'Open Sans' !important;
        font-style: normal;
        font-weight: 700;
        background-color: #09C;
    }

    .search-field {
        border:0px; /*important*/
        background-color:transparent; /*important*/
        color: #069;
        float: left;
        margin: 0px;
        padding: 0px;
        margin-left: 6px;
        width:180px;
        height:24px;
    }
     
    .search-btn {
        border:0px; /*important*/
        background-color:transparent; /*important*/
        padding: 6px 6px 6px 0px;
        float: right;
    }

    .Open-Sans-normal-700 {
        font-family: 'Open Sans' !important;
        font-style: normal;
        font-weight: 700;
    }

    .Open-Sans-normal-400 {
        font-family: 'Open Sans' !important;
        font-style: normal;
        font-weight: 400;
    }

    .Open-Sans-italic-300 {
        font-family: 'Open Sans' !important;
        font-style: italic;
        font-weight: 300;
    }

    .header-container {
        width: 100%;
        height: 50px;
        background: #0CF;
        color: #FFF;
    }

    .header-container .search-container{
        width: 240px;
        height: 50px;
        padding-right: 15px;
        float: right;
    }

    .wrapper{
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    header nav{
        margin: 0 auto;
        font-size: 12px;
    }

    nav span {

    display: none;

}

ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    top: 54px;
    width: 96%;
}

ul > li {
    float: left;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

ul li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}

ul > li > a {
    color: #fff;
    display: block;
    font-size: 1.3em;
    line-height: 50px;
    padding: 0 15px;
    text-transform: uppercase;
}

ul > li:hover > a, ul > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}

ul li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}




















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
